* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: cursive;
    background-color: beige;
}

header {
    text-align: center;
    padding: 20px;
    background-color: burlywood;
}

h2, h3 {
    text-align: center;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav a {
    display: block;
    color: beige;
    text-decoration: none;
    float: left;
    padding: 10px 15px;
}

nav a:hover {
    background-color: beige;
    color: #444;
    border-radius: 15px;
}

main {
    padding: 30px 50px;
}

main p {
    text-align: justify;
    margin: 5px 0px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: burlywood;

    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.ImagenTexto{
    display: block;
    margin: 20px auto;
    width: 600px;
    height: auto;
}

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    margin: 20px auto;
    width: 700px;
    height: auto;
}

.ImagenGaleria{
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
}

input{
    margin: 10px 10px;
    padding: 5px 5px;
}

.button{
    text-align: center;
    padding: 10px 10px;
    font-size: 15px;
    width: 250px;
    display: inline-block;
}

.button:hover {
    background-color: burlywood; /* Green */
    color: white;
  }